<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tel</key>
	<array>
		<dict>
			<key>itemOne</key>
			<string>滞在国・地域 </string>
			<key>type</key>
			<string>HeaderCell</string>
			<key>itemTwo</key>
			<string>国際アクセス番号 </string>
			<key>color</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>color</key>
			<string>lightBlue</string>
			<key>type</key>
			<string>Section</string>
			<key>itemOne</key>
			<string>あ</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>アイルランド</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>アメリカ合衆国</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>011</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>イギリス</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>イタリア</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>インド</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>インドネシア</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>001</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>オランダ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>color</key>
			<string>lightBlue</string>
			<key>type</key>
			<string>Section</string>
			<key>itemOne</key>
			<string>か</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>カナダ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>011</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>韓国</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>001</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ギリシャ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>color</key>
			<string>lightBlue</string>
			<key>type</key>
			<string>Section</string>
			<key>itemOne</key>
			<string>さ</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>シンガポール</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>001</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>スイス</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>スウェーデン</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>スペイン</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>color</key>
			<string>lightBlue</string>
			<key>type</key>
			<string>Section</string>
			<key>itemOne</key>
			<string>た</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>タイ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>001</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>台湾</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>002</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>チェコ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>中国</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>デンマーク</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ドイツ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>トルコ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>color</key>
			<string>lightBlue</string>
			<key>type</key>
			<string>Section</string>
			<key>itemOne</key>
			<string>な</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ニュージーランド</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ノルウェー</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>color</key>
			<string>lightBlue</string>
			<key>type</key>
			<string>Section</string>
			<key>itemOne</key>
			<string>は</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ハンガリー</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>フィリピン</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>フィンランド</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>フランス</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>color</key>
			<string>White</string>
			<key>itemOne</key>
			<string>ブラジル</string>
			<key>type</key>
			<string>CellOther</string>
			<key>itemTwo1</key>
			<string>0021</string>
			<key>itemTwo</key>
			<string>0014</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ベトナム</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ベルギー</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ポーランド</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ポルトガル</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>香港</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>001</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>color</key>
			<string>lightBlue</string>
			<key>type</key>
			<string>Section</string>
			<key>itemOne</key>
			<string>ま</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>マカオ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>マレーシア</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>モナコ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>color</key>
			<string>lightBlue</string>
			<key>type</key>
			<string>Section</string>
			<key>itemOne</key>
			<string>ら</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ルクセンブルグ</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>00</string>
			<key>color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>itemOne</key>
			<string>ロシア</string>
			<key>type</key>
			<string>Cell</string>
			<key>itemTwo</key>
			<string>810</string>
			<key>color</key>
			<string>Gay</string>
		</dict>
	</array>
</dict>
</plist>
